h1{color: rgb(99, 103, 179); 
	font-size: 40px;
}
.body_backgorund {background-image: url("bg1.jpg");
	background-position: center;
	background-size: cover;
}
#myCanvas{border-width: 10px;
	background-color: wheat;
	border-style: ridge;
}
span{font-size: 20px;
}